/**
*
*  title	: JavaScript Lab 06, Client-side Programming I && II
*  author	: orem18kz
*  email	: orem18kz[@]student,ju,se
*
*/
/*********************
**  Particular css  **
*********************/
/************
** sandbox **
************/
#sandbox { min-height: 350px; min-width: 350px; }
/**************
** .v and .h **
**************/
.h,.v { display:flex; flex:1 1 auto; }
.v { flex-direction:column; }
.h { flex-direction:row; }
